# Hazelcast Configuration ConfigMap
# Configures the argus-alerts-vector map with 1 day TTL
apiVersion: v1
kind: ConfigMap
metadata:
  name: hazelcast-config
  namespace: argus
  labels:
    app: hazelcast
    component: cache
    app.kubernetes.io/name: hazelcast
    app.kubernetes.io/part-of: argus
data:
  hazelcast.xml: |
    <?xml version="1.0" encoding="UTF-8"?>
    <hazelcast xmlns="http://www.hazelcast.com/schema/config"
               xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
               xsi:schemaLocation="http://www.hazelcast.com/schema/config
               http://www.hazelcast.com/schema/config/hazelcast-config-5.6.xsd">

        <cluster-name>argus-cluster</cluster-name>

        <network>
            <port auto-increment="true" port-count="100">5701</port>
            <outbound-ports>
                <ports>0</ports>
            </outbound-ports>
            <join>
                <multicast enabled="false"/>
                <tcp-ip enabled="true">
                    <interface>0.0.0.0</interface>
                    <member-list>
                        <member>hazelcast</member>
                    </member-list>
                </tcp-ip>
            </join>
        </network>

        <!-- Alerts vector L2 storage - 1 day TTL -->
        <map name="argus-alerts-vector">
            <time-to-live-seconds>86400</time-to-live-seconds>
            <max-idle-seconds>43200</max-idle-seconds>
        </map>

        <!-- Health check map -->
        <map name="health-check">
            <time-to-live-seconds>60</time-to-live-seconds>
            <max-idle-seconds>30</max-idle-seconds>
        </map>

        <management-center scripting-enabled="false"/>

    </hazelcast>

